@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(45deg,rgb(119, 25, 25),rgb(8, 8, 104),rgb(11, 70, 11),black);
    background-size: 800% 800%;
    animation: mover 10s ease-in-out infinite;
}
@keyframes mover{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
/**************************************** ENCABEZADO CON NAV *****************************/
header{
    width: 100%;
    padding: 7px 5%;  
    position: fixed;
    z-index: 999;
    top: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
header .encabezado{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
}
header .encabezado img{
    height: 80px;
    width: auto;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    margin-right: auto;
    transition: .5s;
}
header .encabezado img:hover{
    border: 3px solid #0ef;
    box-shadow: 0 0 10px rgb(48, 171, 180), inset 0 0 10px rgb(48, 171, 180);
    transform: scale(1.1);
}
header .nav-links li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    margin-top: 10px;
    transition: .5s;
}
header .nav-links li:hover{
    transform: scale(1.2);
}
.nav-links li a{
    color: rgb(215, 197, 197);
    padding: 5px 10px;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    background: transparent;
}
.nav-links li a:hover{
    color: #0ef;
    border: 3px solid #0ef;
    box-shadow: 0 0 10px rgb(48, 171, 180), inset 0 0 10px rgb(48, 171, 180);
}
/*********************************** SECCION-1 *******************************/
#seccion-1{
    display: flex;
    justify-content: center;
    background: transparent;
    position: relative; 
    padding: 100px; 
    height: auto; 
}
/************************************** CARRUZEL-BOOSTRAP *****************************/
#carouselExampleIndicators{
    margin-top: 150px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: .5s; 
}
#carouselExampleIndicators:hover{
    border: 3px solid #0ef;
    transform: scale(1.2);
}
.carousel-inner{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 0px;
}
/************************************************ SECCION-2 ****************************/
#seccion-2{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 130px 5px;
    margin: auto;
    color: rgb(215, 197, 197);
    flex-wrap: wrap;
}
/************************************************ PRODUCTOS DE PRUEBA ****************************/
.div-img{
    width: 25%;
    height: 300px;
    margin: 20px 15px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: .5s;   
    cursor: pointer;
}
.div-img:hover{
    border: 2px solid #0ef;
    box-shadow: 0 0 10px rgb(48, 171, 180), inset 0 0 10px rgb(48, 171, 180);
    transform: scale(1.1);
}
.div-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.info-producto{
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    background: rgba(0,0,0,.3);
    
}
.div-de-prueba{
    display: flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(20px);
    border: 3px solid #0ef;
    box-shadow: 0 0 10px rgb(48, 171, 180), inset 0 0 10px rgb(48, 171, 180);
    padding: 20px;
    margin-bottom: 30px;
    width: 80%;
    height: 70%;
    margin-top: 150px;
    word-break: break-word;
    border-radius: 20px;
    background: transparent;
    transform: scale(0);
    color: rgb(215, 197, 197);
}
.div-de-prueba i{
    font-size: 40px;
    color: rgba(135, 132, 132, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: .5s;
    color: #0ef;
}
.div-de-prueba h1{
    font-size: 35px;
    margin: 20px 10px;
    color: #0ef;
}
.div-de-prueba h3{
    color: #0ef;
}
.div-de-prueba p{
    margin-top: 10px;
}
.div-de-prueba strong{
    color: #0ef;
}
/********************************* PIE DE PAGINA *****************/
footer .pie-pagina{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    position: absolute;
    margin: auto;
}
footer .pie-pagina p{
    margin: 0;
    padding: 12px;
    color: white;
    font-size: 20px;
}

/************************** APARTADO RESPNSIVE ******************************/

@media (max-width: 800px) {
    body {
        background-size: 100% 100%;
    }
    header {
        padding: 7px 5%;
    }
    header .encabezado img {
        height: 50px;
        margin-right: 5px;
    }
    header .nav-links li {
        padding: 0px 10px;
        margin: 10px 10px;
        float: right;
    }
    .nav-links li a {
        font-size: 15px;  
    }
    .buscador{
        padding: 10px;
        margin-left: 100px;
        margin-bottom: 3px;
        border-radius: 10px;
    }
    #seccion-1 {
        padding: 50px;
    }
    #seccion-2 {
        padding: 80px 5px;
    }
    .div-img {
        width: 50%;
        height: 200px;
        margin: 10px 5px;
    }
    .div-de-prueba h1 {
        font-size: 15px;
        margin: 5px 5px;
    }
    .div-de-prueba p {
        font-size: 10px;

    }
};

@media (max-height: 800px){
    .div-de-prueba h1 {
        font-size: 15px;
        margin: 5px 5px;
    }
    .div-de-prueba p {
        font-size: 10px;
        margin: 2px 2px;

    }
}